.transactionHistory {
  margin: 0 auto 300px;
  width: 50vw;
  padding-bottom: 10px;

  font-size: 28px;

  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.tableHeader {
  height: 2em;

  background-color: rgb(133, 0, 221);
  color: white;
}

.tableRow {
  height: 1.5em;
}

.tableRow:nth-child(even) {
  background-color: rgb(218, 214, 214);
}
